<div class="shop-by-sector">
  	<div class="section">
        <div class="shop-by-heading">
          {% if section.settings.title != blank %}
          	<h2 class="section-title type-heading-1">{{ section.settings.title }}</h2>
          {% endif %}
          {% if section.settings.subtitle != blank %}
          	<p>{{ section.settings.subtitle }}</p>
          {% endif %}
        </div>
      	<div class="sector-list">
          {% for block in section.blocks %}
          	<div class="sector-item">
          		<div class="sector-box">
                    {% if block.settings.collection_url != blank %}
                  		<a href="{{ block.settings.collection_url }}">
                    {% endif %} 
                    {% if block.settings.image != blank %}
					<div class="sector-img" 
                         style="background-image:url({{ block.settings.image | img_url:'400x' }})">
                    </div>
                    {% endif %}
                    {% if block.settings.title_text != blank %}
                      <h4>{{ block.settings.title_text }}</h4>
                    {% endif %}
                    {% if block.settings.collection_url != blank %}
                      </a>
                    {% endif %} 
                </div>
          	</div>
		  {% endfor %}
      	</div>
  	</div>
</div>
{% schema %}
  {
    "name": "Shop by Sector",
    "max_blocks": 12,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Collection list"
      },
	  {
        "type": "text",
        "id": "subtitle",
        "label": "Sub text"
      }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "sector list",
        "settings": [
          {
            "type":"image_picker",
            "id": "image",
			"label":"collection image"
          },
          {
            "type":"text",
            "id": "title_text",
			"label":"collection text"
          },
		  {
            "type": "url",
            "id": "collection_url",
            "label":"Select collection link"
          }	
        ]
      }
    ]
  }
{% endschema %}