<section id="customized_featured_stones">
    <div class="featured_collection_wrapper inner-container">
        <!-- <div class="featured_collection-head">
            {% if section.settings.title != blank %}
              <h1 class="featured_collection-title">{{ section.settings.title | escape }}</h1>
            {% endif %}
            {% if section.settings.subtitle != blank %}
              <p>{{ section.settings.subtitle | escape }}</p>
            {% endif %}
        </div> -->
        <div class="featured_collection-list">
       
            <div class="collection_header_wrapper">
                <div class="filter_text">
                    <p>Filter By</p>
                </div>
                
                <!-- <div class="view_collection_wrapper">
                    <a class="underline_link" href="https://omneque.com/collections/stone-vault">Explore All Stones</a>
                </div> -->
            </div>
            <div class="collection_content_wrapper"> 
            <div class="collection_menu">
                {% for block in section.blocks %}
                    {%- assign collection = collections[block.settings.collection] -%}
                    {% if forloop.index == 1 %}
                        <a class="collection_menu_item collection_{{ collection.handle }}-header active">
                            All Stones
                        </a>
                    {% else %}
                        <a class="collection_menu_item collection_{{ collection.handle }}-header">
                            {{ collection.handle }}
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="collection_products_list_wrapper">
                {% for block in section.blocks %}
                    {%- assign collection = collections[block.settings.collection] -%}
                    {% if forloop.index == 1 %}
                        <div class="featured-{{ collection.handle }}-items collection_product_items active">
                            {% paginate collection.products by 100 %}
                                {% for product in collection.products %}
                                <div class="featured-collection__item featured-collection__item--3">
                                    {% render 'product-tile' with product: product %}
                                </div>
    
                                {% else %}
    
                                    {% for i in (1..max_products) %}
                                        <div class="featured-collection__item featured-collection__item--4"> 
                                        <div class="w-100">
                                            {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                                            {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
    
                                            <h2 class="type-body-regular mt3 mb1">
                                            {{ 'homepage.onboarding.product_title' | t }}
                                            </h2>
                                            <p class="meta ma0">{{ 1999 | money }}</p>
                                        </div>
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                            {% endpaginate %}
                            
                        </div>
                    {% else %}
                    <div class="featured-{{ collection.handle }}-items collection_product_items">
                        {% for product in collection.products %}

                        <div class="featured-collection__item featured-collection__item--3">
                            {% render 'product-tile' with product: product %}
                        </div>

                        {% else %}

                            {% for i in (1..max_products) %}
                                <div class="featured-collection__item featured-collection__item--4">
                                <div class="w-100">
                                    {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                                    {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}

                                    <h2 class="type-body-regular mt3 mb1">
                                    {{ 'homepage.onboarding.product_title' | t }}
                                    </h2>
                                    <p class="meta ma0">{{ 1999 | money }}</p>
                                </div>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            </div>
        
        </div>
    </div>


<script>
    
    {% for block in section.blocks %}
        {%- assign collection = collections[block.settings.collection] -%}
        $(".collection_{{ collection.handle }}-header").on("click", function(){
            $('.collection_menu_item').removeClass("active");
            $('.collection_product_items').removeClass("active");
            $('.collection_{{ collection.handle }}-header').toggleClass("active");
            $('.featured-{{ collection.handle }}-items').toggleClass("active");
        });
    {% endfor %}
</script>
    
<style>
    {% for block in section.blocks %}
        {%- assign collection = collections[block.settings.collection] -%}
        #customized_featured_stones .collection_{{ collection.handle }}-header.active{
            opacity:1;
        }
        #customized_featured_stones .featured-{{ collection.handle }}-items{
            display:none;
        }
        #customized_featured_stones .featured-{{ collection.handle }}-items.active{
            display:flex;
        }
    {% endfor %}
</style>

</section>

{% schema %}
  {
    "name": "New Featured Collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Collection list"
      },
	  {
        "type": "textarea",
        "id": "subtitle",
        "label": "Sub text"
      }
    ],
    "blocks": [
      {
        "type": "collection",
        "name": "Collection",
        "settings": [
          {
            "label": "Collection",
            "id": "collection",
            "type": "collection"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "New Featured Collection",
        "category": "Collection"
      }
    ]
  }
{% endschema %}