<div
  data-section-id="{{ section.id }}"
  data-section-type="product"
  data-enable-history-state="true"
  {%- if template == 'product' -%}
    data-trigger-recent="true"
  {%- endif -%}
  {%- if settings.enable_ajax -%}
    data-enable-ajax="true"
  {%- endif -%}
>
  <section class="bb b--default pb4">

    <div class="product">

      <div class="product__image-container">
        {%- assign current_variant = product.selected_or_first_available_variant -%}
        {%- assign featured_media = current_variant.featured_media | default: product.featured_media -%}
        {%- assign first_model = product.media | where: "media_type", "model" | first -%}

        <div
          id="product-{{ section.id }}"
          class="product__primary-image-wrapper"
          data-product-initial-image="{{ featured_media.id }}"
          data-first-model-id="{{ first_model.id }}"
        >
          <a href="#" data-product-zoom class="product__zoom-arrow hide">
            {% render 'icon-plus' %}
          </a>

          {% for media in product.media %}
            {% capture class %}
              {%- unless featured_media == media -%}
                hide
              {%- endunless -%}
            {% endcapture %}

            <div class="{{ class }} product__media"
              data-product-image-wrapper
              data-image-id="{{ media.id }}"
              data-type="{{ media.media_type }}"
            >
              {% if media.media_type == 'image' %}
                <a id = "product-image" class="chocolat-image" href="{{ media | img_url: 'master' }}">
                  {% render 'responsive-image' with
                    image: media,
                    max_width: 900,
                    max_height: 900
                  %}
                </a>
              {% else %}
                {% render 'interactive-media' with
                  media: media,
                  loop_video: section.settings.enable_video_looping
                %}
              {% endif %}
            </div>
          {% endfor %}

          {% if first_model != blank %}
            <button
              class="bttn bttn--full bttn--tertiary product__in-space-bttn"
              data-shopify-xr
              data-shopify-model3d-id="{{ first_model.id }}"
              data-shopify-title="{{ product.title | escape }}"
              data-shopify-xr-hidden
            >
              <span>
                {% render 'icon-3d' %}
                <span class="">{{ 'products.product.view_in_space' | t }}</span>
              </span>
            </button>
          {% endif %}
          
        </div>

        {% render 'product-thumbnails' %}

      </div>

      <div class="product__details-container">
        {% render 'product-details',
          product: product,
          show_vendor: section.settings.show_vendor,
          show_swatches: section.settings.show_swatches,
          is_placeholder: section_onboarding,
          enable_payment_button: section.settings.enable_payment_button,
          show_share_buttons: section.settings.show_share_buttons,
          show_quantity_input: section.settings.show_quantity_input,
          current_variant: current_variant
        %}
      </div>
      {% render 'product-reviews' %}

    </div>
    <div class="full-description">
        <div class="section">
            <div class="product-detail-tabs">
                <ul class="product-tab">
                  <li class="active"><a href="#tab1">Description</a></li>
                  <li><a href="#tab2">Jewellery Details</a></li>
                  <li><a href="#tab3">Free Delivery & Returns</a></li>
                </ul>
                <div class="product-tab-content">
                    <div class="pt-content" id="tab1">
                        <div class="product__description type-body-regular rte">
                          {% if is_placeholder %}
                            {{ 'homepage.onboarding.product_description' | t }}
                          {% else %}
                            {{ product.description }}
                            {% if product.tags contains 'stone-bar' %}
                            <p>Take one beautiful stone, take your imagination, and add the Stone Vault’s bespoke design service as the final ingredient.
                              <a href="mailto:hello@omneque.com">Contact us</a> now to find more.</p>
                            {% endif %}
                          {% endif %}
                        </div>
                    </div>
                    <div class="pt-content type-body-regular" id="tab2">
                      	{{ product.metafields["global"]["jewellery-details"] }}
                    </div>
                    <div class="pt-content" id="tab3">
                        {{ pages.shipping-returns.content  }}
                    </div>
                </div>
            </div>
        </div>
      </div>
  </section>
</div>

<script>
  window.ShopifyXR=window.ShopifyXR||function(){(ShopifyXR.q=ShopifyXR.q||[]).push(arguments)}
  {% assign models = product.media | where: 'media_type', 'model' | json %}
  
  
  ShopifyXR('addModels', {{ models }});
</script>
<script src='//cdn.shopify.com/shopifycloud/shopify-xr-js/assets/v1.0/shopify-xr.en.js' defer='defer'></script>


<style>
  .chocolat-wrapper .chocolat-right {
    background-color: var(--color-text);
    -webkit-mask: url({{ "arrow-right.svg" | asset_url }}) 50% 50% no-repeat;
    mask: url({{ "arrow-right.svg" | asset_url }}) 50% 50% no-repeat;
  }
  .chocolat-wrapper .chocolat-left {
    background-color: var(--color-text);
    -webkit-mask: url({{ "arrow-left.svg" | asset_url }}) 50% 50% no-repeat;
    mask: url({{ "arrow-left.svg" | asset_url }}) 50% 50% no-repeat;
  }
  .chocolat-wrapper .chocolat-close {
    background-color: var(--color-text);
    -webkit-mask: url({{ "close.svg" | asset_url }}) 50% 50% no-repeat;
    mask: url({{ "close.svg" | asset_url }}) 50% 50% no-repeat;
  }
</style>



{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_vendor",
        "label": "Show vendor",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_swatches",
        "label": "Show swatches",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_quantity_input",
        "label": "Show quantity input",
        "info": "If quantity inputs are hidden, quantities will default to 1.",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "enable_payment_button",
        "label": "Show dynamic checkout button",
        "info": "Lets customers check out directly using a familiar payment method. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "default": true
      },
      {
        "type": "header",
        "content": "Media"
      },
      {
        "type": "paragraph",
        "content": "Learn more about [media types](https://help.shopify.com/en/manual/products/product-media)"
      },
      {
        "id": "enable_video_looping",
        "type": "checkbox",
        "label": "Enable video looping",
        "default": true
      }
    ]
  }
{% endschema %}
