<section data-section-id="{{ section.id }}"
  data-section-type="sell-banner"
  class="sell-banner"
>
<div class="sell-banner-wrapper">
    {% if section.settings.image_desktop %}
        <img class="sell-bannerimg-desktop" src="{{ section.settings.image_desktop | img_url: 'x700'}}"></img>
        <div class="sell-bannerimg-desktop-overlay"></div>
    {% endif %}
    {% if section.settings.image_mobile %}
        <img class="sell-bannerimg-mobile" src="{{ section.settings.image_mobile | img_url: 'x700'}}"></img>
    {% else %}
        <img class="sell-bannerimg-mobile" src="{{ section.settings.image_desktop | img_url: 'x700'}}"></img>
    {% endif %}
    <div class="sell-bannertxt-wrapper">
        <div class="sell-banner-heading">{{ section.settings.heading }}</div>
        <div class="sell-banner-subheading">{{ section.settings.subheading }}</div>
    </div>
</div>
</section>

{% schema %}
{
    "name": "Sell with Omneque Banner",
    "settings": [
        {
            "type": "image_picker",
            "id": "image_desktop",
            "label": "Desktop Banner Image"
        },
        {
            "type": "image_picker",
            "id": "image_mobile",
            "label": "Mobile Banner Image"
        },
        {
            "type": "text",
            "id": "heading",
            "label": "Heading"
        },
        {
            "type": "textarea",
            "id": "subheading",
            "label": "Subheading"
        }
    ]
}
{% endschema %}