<section class="customer-service-page">
  <div class="cs-banner">
    <div class="cs-bg" style="background-image:url({{ 'customer-service.jpeg' | asset_url }})"></div>
    <div class="cs-text">
      <h2>YOUR JEWELLERY JOURNEY</h2>
      <p>Our community is important to us, and our team is here to help you find the perfect piece, whether that be with style advice and gift ideas from our marketplace selection or via direct sourcing or bespoke commissions.
		</p>
      <p>If you need any assistance with your order, we can also offer help on a wide array of topics, including processing payments, updates on shipping or help with returns.</p>
    </div>
  </div>
  <div class="cs-content">
    <div class="section">
      	<div class="cs-list">
      		<div class="cs-list-item">
          		<div class="csl-title">
              		<img class="icon" src="{{ 'icon-phone.svg' | asset_url}}"/>
                  	<h4>CALL US</h4>
                </div>
                <div class="csl-info">
                  	<p>For assistance with your order or general information by phone.</p>
                    <p>Mon-Sat 9am-6pm</p>
                  	<a href="tel:0203 9703038">Tel. 0203 9703038</a>
                </div>
          	</div>
            <div class="cs-list-item">
          		<div class="csl-title">
              		<img class="icon" src="{{ 'icon-email.svg' | asset_url}}"/>
                  	<h4>EMAIL US</h4>
                </div>
                <div class="csl-info">
                  	<p>Send us an email at hello@omneque.com and a team member will reply to you within one day.</p>
                  	<a href="mailto:hello@omneque.com">Send us an email</a>
                </div>
          	</div>
            <div class="cs-list-item">
          		<div class="csl-title">
              		<img class="icon" src="{{ 'icon-msg.svg' | asset_url}}"/>
                  	<h4>MESSAGE US</h4>
                </div>
                <div class="csl-info">
                  	<p>Contact us on Facebook messenger and an Omnēque team member will get back to you within one day.</p>
                  	<a href="https://www.facebook.com/OmnequeOfficial/" target="_blank">Send us a message</a>
                </div>
          	</div>
            <div class="cs-list-item">
          		<div class="csl-title">
              		<img class="icon" src="{{ 'icon-email.svg' | asset_url}}"/>
                  	<h4>CONTACT OUR CONCIERGE</h4>
                </div>
                <div class="csl-info">
                  	<p>For specialist advice including personal shopping or to take advantage of any of our exclusive services, contact our dedicated Concierge at <a href="mailto:hello@omneque.com">hello@omneque.com</a>.</p>
                </div>
          	</div>
            <div class="cs-list-item">
          		<div class="csl-title">
              		<img class="icon" src="{{ 'icon-info.svg' | asset_url}}"/>
                  	<h4>FAQ</h4>
                </div>
                <div class="csl-info">
                  	<p>For questions about how to place an order, information on our shipping & returns policy and more, visit our Frequently Asked Questions page.</p>
                  	<a href="/pages/faq">Explore FAQ</a>
                </div>
          	</div>
      	</div>
    </div>
  </div>
  
</section>